{% extends 'base.html' %}
{% load static %}

{% block TitleBlock %}{{ request.user.email }}'s Profile - {% endblock  %}

{% block BodyBlock %}
<div class="p-t-50 p-b-20">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://images.pexels.com/photos/3585648/pexels-photo-3585648.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          class="card-img" alt="Profile Pic" style="width:100%; height:100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="margin:20px 20px;">
          <form method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Username:</label>
                {{ form.username }}
              </div>
              <div class="form-group col-md-6">
                <label>Fullname:</label>
                {{ form.fullname }}
              </div>
            </div>
            <div class="form-group">
              <label>Address:</label>
              {{ form.address_1 }}
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label>Address 2: [Optional]</label>
                {{ form.address_2 }}
              </div>
              <div class="form-group col-md-4">
                <label>City:</label>
                {{ form.city }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Zip Code:</label>
                {{ form.zipcode }}
              </div>
              <div class="form-group col-md-5">
                <label>Phone Number:</label>
                <div class="input-group is-invalid">
                <div class="input-group-prepend">
                  <span class="input-group-text">+880</span>
                </div>
                {{ form.phone }}
              </div>
              </div>
              <div class="form-group col-md-4">
                <label>Country:</label>
                {{ form.country }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary m-t-20 m-b-20">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock  %}