{% extends 'base.html' %}
{% load static %}

{% block TitleBlock %}Signup - {% endblock  %}

{% block BodyBlock %}
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card mt-5">
                    <div class="card-header text-center pt-4 pb-3">
                        <h2>Create Account</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'account:signup' %}" class="pt-4 pb-4">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" value="{{ data.email }}" required placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password1" required placeholder="Passowrd">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password2" required placeholder="Confirm Password">
                            </div>
                            <div class="text-center m-t-30">
                                <button type="submit" class="btn btn-success btn-md btn-block">Create Account</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p class="mt-3 text-muted">
                            By signing up, you agree to our Terms and Conditions.
                        </p>
                    </div>
                </div>
                <div class="card mt-3 text-center">
                    <div class="card-body mt-2">
                        <h5>Already have an account?
                            <br>
                            <a href="{% url 'account:login' %}">Login Here</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %} 