{% load static %}
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{% url 'account:home' %}">
            <img src="{% static 'img/logo.png' %}" class="mr-2" alt="Eshop">
        </a>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="{% url 'account:home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'account:signup' %}">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'account:logout' %}">Logout</a>
                </li>
            </ul>
            <!-- Right -->
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav d-flex flex-row">
                    <!-- Icons -->
                    <li class="nav-item mr-3 mr-lg-0">
                        <a class="nav-link" href="#">
                            <span class="badge red z-depth-1 mr-1"> 1</span>
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a href="#" class="nav-link waves-effect" target="_blank">
                                <i class="fas fa-chart-line"></i> DB
                            </a>
                        </li>
                    {% endif %}
                    <!-- Icon dropdown -->
                    <li class="nav-item mr-3 mr-lg-0 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect">
                            <span class="badge red z-depth-1 mr-1"> 1 </span>
                                <i class="fas fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/shajalalhazari1" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/shajalalhazari1" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/shajalalhazari1" class="nav-link border border-light rounded waves-effect"
                            target="_blank">
                            <i class="fab fa-github mr-2"></i>Shahjalal Hazari
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<!-- Navbar -->