{% extends 'base.html' %}
{% load static %}


{% block BodyBlock %}
<!-- navbar -->
{% include 'Store/navbar2.html' %}
<!-- navbar -->

  <!-- Title -->
  <h3 class="font-weight-bold m-t-30">Features Products:</h3>
  <!-- Title -->

  <!--Section: Products v.3-->
  <section class="text-center m-t-30 m-b-30">
    <div class="row wow fadeIn">
    {% for item in object_list %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card m-b-10">
          <div class="bg-image hover-overlay ripple product-cart" data-ripple-color="light">
            <img src="/media/{{ item.main_image }}" class="img-fluid"/>
            <a href="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <a href="{% url 'store:item_by_cats' cats_id=item.category.pk %}" class="grey-text">
              <h5>{{ item.category }}</h5>
            </a>
            <h5 class="p-t-10"><strong>
              <a href="{% url 'store:product' pk=item.pk %}" class="dark-grey-text">{{ item.item_name }}</a>
            </strong></h5>
            {% if item.get_label_display == 'New' %}
            <a href="#">
              <span class="badge danger-color">{{ item.get_label_display }}</span>
            </a>
            {% else %}
            <a href="#">
              <span class="badge primary-color">{{ item.get_label_display }}</span>
            </a>
            {% endif %}
            <h5 class="font-weight-bold blue-text p-t-10">
              <strong>
                &#2547; {{ item.price | floatformat:2 }}
                {% if item.old_price %}
                  <strike class="grey-text m-l-5">&#2547; {{ item.old_price }}</strike>
                {% endif %}
              </strong>
            </h5>
            <a href="{% url 'order:add' pk=item.pk %}">
              <button type="button" class="btn btn-sm btn-info m-t-10">Add to cart</button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!--Section: Products v.3-->

  <!--Pagination-->
  {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">&#60;&#60;</a>
        </li>
      {% endif %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&#62;&#62;</a>
        </li>
      {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!--Pagination-->
{% endblock %}