<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary lighten-3 m-t-50">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'store:home' %}">All
            </a>
        </li>
        
        {% for category in categories %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'store:item_by_cats' cats_id=category.pk %}">{{ category.name }}</a>
            </li>
        {% endfor %}
        </ul>
        <form class="form-inline">
        <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
        </form>
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->