{% extends 'base.html' %}
{% load static %}


{% block TitleBlock %}Product - {% endblock %}


{% block  BodyBlock %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-5 product-cart2 text-center border-right">
      <img src="/media/{{ object.main_image }}" alt="{{ object.item_name }}" class="img-fluid"/>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h3 class="card-title">{{ object.item_name }}</h3>
        <h5 class="font-weight-bold">
          <strong>
            &#2547; {{ item.price | floatformat:2 }}
            {% if item.old_price %}
              <strike class="grey-text m-l-5">&#2547; {{ item.old_price }}</strike>
            {% endif %}
          </strong>
        </h5>
        <div class="mb-3">
          <a href="{% url 'store:item_by_cats' cats_id=object.category.pk %}">
            <span class="badge purple mr-1">{{ object.category }}</span>
          </a>
          {% if item.get_label_display == 'New' %}
            <span class="badge danger-color">{{ item.get_label_display }}</span>
          {% else %}
            <span class="badge primary-color">{{ item.get_label_display }}</span>
          {% endif %}
        </div>
        <a href="{% url 'order:add' pk=object.pk %}" class="btn btn-md btn-outline-primary text-uppercase">
          <i class="fas fa-shopping-cart ml-1"></i> add to cart
        </a>
        <h4 class="font-font-weight-bold m-t-20">
        Description:
        </h4>
        <p class="card-text">
          {{ object.description | linebreaks }}
        </p>
      </div>
    </div>
  </div>
</div>

<hr>
<!--Grid row-->
<div class="row d-flex justify-content-center wow fadeIn">
        <!--Grid column-->
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Additional information</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
        </div>
        <!--Grid column-->

</div>
<!--Grid row-->
<!--Grid row-->
<div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">
        </div>
        <!--Grid column-->
</div>
<!--Grid row-->

{% endblock %}