{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}

{% block TitleBlock %}Checkout - {% endblock %}

{% block BodyBlock %}
<h2 class="my-5 h2">Shipping Address > <span class="text-muted">Checkout</span></h2>
<div class="row">
  <div class="col-md-7 mb-4">
    <div class="card">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
              <label>Name:</label>
              {{ form.name }}
            </div>
          <div class="form-group">
            <label>Address:</label>
            {{ form.address }}
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label>City:</label>
              {{ form.city }}
            </div>
            <div class="form-group col-md-4">
              <label>Country:</label>
              {{ form.country }}
            </div>
            <div class="form-group col-md-3">
              <label>Zip Code:</label>
              {{ form.zip_code }}
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-md" type="submit" style="width:70%;">Saved Address</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card m-t-25">
      <div class="card-body">
        {% if saved_address.is_fully_filled %}
          <a href="{% url 'payment:payment' %}" class="btn btn-success btn-lg btn-block">Make Payment</a>
        {% else %}
          <div class="alert alert-warning">
            <p>Please fill up all the information to make payment.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-5 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Your cart</span>
      <span class="badge badge-secondary badge-pill">{{ request.user | item_total }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
      {% for order_item in order_items %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div style="width: 75%;">
            <h6 class="my-0 font-weight-bold">{{ order_item.item.item_name }}</h6>
            <p class="grey-text m-t-5">&#2547; {{ order_item.item.price }} X {{ order_item.quantity }}</p>
          </div>
          <span class="text-muted text-right font-weight-bold">&#2547; {{ order_item.get_total }}</span>
        </li>
      {% endfor %}
      <li class="list-group-item d-flex justify-content-between">
        <h4>Total (BDT)</h4>
        <h4 class="text-right font-weight-bold">&#2547; {{ order_total | floatformat:2 }}</h4>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
